<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bank of Star</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateAccount" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Start
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateAccount">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Skapa konto
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="konton">
                <span class="bi bi-wallet-fill-nav-menu" aria-hidden="true"></span> Konton
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nytransaktion">
                <span class="bi bi-arrow-left-right-nav-menu" aria-hidden="true"></span> Ny transaktion
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="historik">
                <span class="bi bi-clock-history-nav-menu" aria-hidden="true"></span> Historik
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}